<nav class="white navbar-large" role="navigation">
  <div class="nav-wrapper container">
      <a id="logo-container" href="#/" class="brand-logo">
        <div class="row">
            <img src="assets/img/logo.png" alt="" class="logo-large">
            <span class="grey-text text-darken-1 cinzel-font">
            
            </span>
        </div>
      </a>
      <ul class="right hide-on-med-and-down russo-font">
        <li><a class="light-blue-text text-darken-4 font-2x nav-link-align" href="#/">News</a></li>
        <li><a class="light-blue-text text-darken-4 font-2x nav-link-align" href="http://serventec.com.br">Website</a></li>
        <li><a class="light-blue-text text-darken-4 font-2x nav-link-align" href="#/login">Sobre</a></li>
        <li><a class="light-blue-text text-darken-4 font-2x nav-link-align" href="#/login">Login</a></li>
      </ul>
    <ul id="nav-mobile" class="side-nav">
      <li>
        <div class="userView">
          <div class="background serventec-blue">
          </div>
          <a href="#/"><span class="white-text name">Serventec</span></a>
          <a href="#/"><span class="white-text email">serventec@serventec.com.br</span></a>
        </div>
      </li>
      <li><a class="waves-effect grey-text text-darken-2" data-activates="slide-out" href="#/">News</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect grey-text text-darken-2" data-activates="slide-out" href="http://serventec.com.br">Website</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect grey-text text-darken-2" data-activates="slide-out" href="#/sobre">Sobre</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect grey-text text-darken-2" data-activates="slide-out" href="#/login">Login</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons grey-text text-darken-2 nav-link-align">menu</i></a>
  </div>
</nav>
<app-servers></app-servers>